.container {
    background: linear-gradient(to right, #00FF6c, orange);
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
    width: 100%;
    height: fit-content;
}

.border {
    background-color: rgba(63, 63, 63, .85);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.buttonPanel {
    display: inline-flex;
    margin-top: 10px;
    width: 100%;
}

.left {
    width: 70%;
    justify-content: end;
}

.right {
    width: 30%;
    display: inline-flex;
    justify-content: end;
}

.searchForm {
    display: flex;
    align-items: center;
}

.searchForm .textInput {
    margin-right: 15px;
    padding-left: 15px;
    width: 80%;
    resize: none;
    background: rgb(27, 27, 27);
    border-width: 2px;
    border-color: black;
    border: 1px;
    border-radius: 5px;
}

.searchForm .btnInput {
    background: #00FF6c;
    border-width: 2px;
    border-color: black;
    border: 1px;
    width: 10%;
    height: 20%;
    border-radius: 5px;
    color: black;
}

.amountBtn {
    text-align: center;
    border-bottom: 2px visible black;
    background: rgb(27, 27, 27);
    border-radius: 5px;
    width: 38px;
}

.optionList {
    width: 100%;
}

.header {
    color: beige;
}

.choice {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background-color:rgba(63, 63, 63, .85);
    border-radius: 15px;
    padding: 10px;
}

.videoOption {
    display: none;
}

.optionSelect {
    display: flex;
    align-items: center;
    width: 100%;
}

.thumbnailContainer {
    width: 20%;
}

.thumbnail {
    height: 90px;
    width: 120px;
    border-radius: 5px;
}